<!DOCTYPE html>
<html>
<head>
  <title>DoboLily</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="navbar">
  <div id="chunni">
    <div class="left">
      <img src="/assets/dlily-logo.png">
    </div>
    <div class="right">

    </div>
    <div class="clearfix"></div>
  </div>
  <div id="chunni-border">
  </div>
</div>
<%= yield %>

</body>
</html>
